<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <location path="." inheritInChildApplications="false">
    <system.webServer>
      <handlers>
        <add name="aspNetCore" path="*" verb="*" modules="AspNetCoreModule" resourceType="Unspecified" />
      </handlers>
      <aspNetCore processPath=".\OdeToFood.exe" arguments=".\OdeToFood.dll" stdoutLogEnabled="false" />
    </system.webServer>
  </location>
</configuration>
<!--ProjectGuid: 0C33D640-9E6C-4BF8-86EA-969FE64AB9A7-->